<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>YOLOv8 Detection</title>
</head>
<body>
    <h1>Analiza zdjęcia przez YOLOv8</h1>

    <form action="/detect" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Analizuj zdjęcie</button>
    </form>

    {% if image %}
        <h2>Wynik analizy:</h2>
        <img src="{{ image }}" style="max-width: 900px; width: 100%;">
    {% endif %}

    <h2>
        Automatyczna detekcja i oznaczenie komórek w rozmazach jest kluczowym elementem diagnostyki laboratoryjnej<br>
        Użycie modelu YOLOv8 pozwala na szybkie i precyzyjne wykrywanie komórek, co może znacząco przyspieszyć proces analizy i poprawić dokładność diagnozy.<br>
        Strona jest wciąż w fazie rozwoju, ale już teraz można przesyłać zdjęcia i testować działanie modelu.<br>
        Model jest wciąż w trakcie uczenia. Komórki są oznaczane za pomocą programu LabelStudio.<br>
    </h2>

</body>
</html>
